# Entrega Final (frontend Next.js + backend Spring Boot)

# Frontend (Next.js)
.next/
node_modules/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Backend (Maven/Spring Boot)
backend/target/
backend/.mvn/timing.properties
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/*.log

# Excluir distribuciones locales de Maven
backend/apache-maven-*/
backend/apache-maven-*-bin.zip

# IDE/OS
.idea/
*.iml
.project
.classpath
.settings/
.DS_Store
Thumbs.db
